# ignore .classpath files
.classpath

# ignore .project files
.project

# ignore ALL files in ANY directory named .settings
.settings/

# ignore ALL files in ANY directory named target
target/

# ignore ALL files in ANY directory named .idea
.idea/